{% extends 'apo_schraenkle/base.html' %}

{% block content %}

<h1>Apothekenschränkle</h1>

{% for medikament in medikamentenliste %}
    

    <a href="{% url 'change_mediliste' medikament.id %}" {% if medikament.mediliste %} class="bi bi-check2-square" {% else %} class="bi bi-square" {% endif %}></a>
    {{ medikament.standort }}: {{ medikament.name }} - Bearbeiten <br />
   
{% endfor %}

    <h2>Preisvergleich<h2>
        <a href="{% url 'preisvergleich' %}" >Preisvergleich der gewählten Medikamente</a>

    <h2>Medikament hinzufügen</h2>
                <form action="{% url 'quick_scrape' %}" method="post">
                    <input type="text" name="pzn" placeholder="PZN einscannen">
                    
                    
                    {% csrf_token %}
                </form>



    <h3>Quick-Scrape</h3>
                <form action="{% url 'quick_scrape' %}" method="post">
                    <input type="text" name="pzn" placeholder="PZN einscannen">
                    
                    
                    {% csrf_token %}
                </form>


{% endblock %}