{% extends 'apo_schraenkle/base.html' %}

{% block content %}

<h1>Apothekenschränkle</h1>

<h2>Preisvergleich<h2>

   {% if preisliste %}      
        <table border=1>
            {% for zeile in preisliste %}
                <tr>
                    {% for feldinhalt in zeile %}    
                        <td>{{feldinhalt}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Es sind keine Medikamente für einen Preisvergleich ausgewählt.
    {% endif %}

<a href="{% url 'index' %}" >Zurück zum Apothekenschränkle</a>

{% endblock %}