<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apotheken-Schränkle</title>
</head>
<body>
    <h1>Apotheken-Schränkle</h1>
    <h2>Quick-Scrape</h2>
                <form action="{% url 'quick_scrape' %}" method="post">
                    <input type="text" name="pzn" placeholder="PZN einscannen">
                    <input type="submit" value="scrape los">
                    
                    {% csrf_token %}
                </form>
    <h2>Scraping-Infos:</h2>
    
    <table>
        <tr>
            <td>PZN gescannt:</td>
            <td>{{ pzn }}</td>
        </tr>
        <tr>
            <td>Produktname:</td>
            <td>{{ bezeichnung }}</td>
        </tr>
    </table>

    <h2>Scrape gescanntes Medikament:</h2>

    Spalten: {{ mediliste|first|length }} <br />
    Zeilen: {{ mediliste|length }} <br />
    <table border=1>
        {% for zeile in mediliste %}
            <tr>
                {% for feldinhalt in zeile %}    
                    <td>{{feldinhalt}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h2>Datenbank:</h2>
    Status (neu geschrieben, bereits in DB vorhanden): {{ db_status }}

    {% if preisliste %}
        <h2>Preisliste:</h2>
            <table border=1>
                {% for zeile in preisliste %}
                    <tr>
                        {% for feldinhalt in zeile %}    
                            <td>{{feldinhalt}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
    {% endif %}


</body>
</html>